<IfModule mod_rewrite.c>  
    RewriteEngine on  
    RewriteRule ^blog/([a-zA-Z-]+)/([a-zA-Z0-9-]+)$ /blog/index.php?cat=$1&s=$2 [L]
    RewriteRule ^blog/([a-zA-Z-]+)$ /blog/index.php?cat=$1 [L,B]
</IfModule>
