<perch:before>
    <div class="c-post-cards">
</perch:before>
    <div class="c-post-card">
        <div class="c-post-card__content">
            <h2 class="c-post-card__title">
                <a href="/news/<perch:blog id="section">/<perch:blog id="postSlug">" 
                    rel="bookmark"
                    class="c-post-card__title-link">
                    <perch:blog id="postTitle" />
                </a>
            </h2>
            <perch:if exists="section">
                <p class="c-post-card__author"><a class="c-post-card__author-link" href="/news/<perch:blog id="authorSlug">"><perch:blog id="authorGivenName" type="hidden" label="Name" /> <perch:blog id="authorFamilyName" type="hidden" /></a> in <a class="c-post-card__author-link" href="/news/<perch:blog id="sectionSlug">"><perch:blog id="sectionTitle"/></a></p>
            <perch:else>
                <p class="c-post-card__author"><perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y" label="Date Published" /></p>
            </perch:if>
            <div class="c-post-card__details">
                <perch:if exists="authorImage">
                    <img class="c-post-card__image" src="<perch:blog id="authorImage">" alt="<perch:blog id="authorGivenName">">
                </perch:if>
            </div>
            <perch:layout path="tags" slug="<perch:blog id="postSlug">"/>
                <div class="c-post-card__description l-flow">
                    <perch:blog id="excerpt" type="textarea" textile="true" />
                </div>
            <p class="c-post-card__date"><perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y" label="Date Published"/></p>
        </div>
        <div class="c-post-card__feature-image-wrapper">
            <img src="<perch:blog id="featureImage" height="300" width="300" crop>" alt="Feature Image" class="c-post-card__feature-image">
        </div>
    </div>
<perch:after>
    </ul>
    <perch:if exists="paging">
        <div class="paging">
            Page
            <perch:blog id="current_page" /> of
            <perch:blog id="number_of_pages" />
            <perch:blog id="page_links" encode="false" />
            <perch:if exists="not_first_page">
                <a href="<perch:blog id="prev_url" encode="false" />">Previous</a>
            </perch:if>
            <perch:if exists="not_last_page">
                <a href="<perch:blog id="next_url" encode="false" />">Next</a>
            </perch:if>
        </div>
    </perch:if>
</perch:after>