<perch:nl id="jobDescription" type="textarea" html editor="redactor" divider-before="Job Description" />
<perch:nl id="jobType" type="select" options="Full Time,Part Time" />
<perch:nl id="normalMonday" type="checkbox" value="yes" label="Works Mondays?" />
<perch:nl id="earlyWednesday" type="checkbox" value="yes" label="Apply Early Finish Friday to Following Wednesday?" />
<perch:nl id="department" type="select" divider-before="Deparment" options=",Sales,Production,Dispatch,IT,Operations" />
<perch:nl id="constrainDay" type="checkbox" value="on" label="Constrain Hours to Standard Day (08:30:00 to 17:00:00)" />