<perch:nl id="jobDescription" type="textarea" html editor="redactor" divider-before="Job Description" />
<perch:nl id="yearlyHolidayAllowance" type="text" label="Total Yearly Holiday Allowance" divider-before="Holidays" help="Holiday allowance runs from 6th April to 5th April" />
<perch:nl id="holidayBoughtForward" type="text" label="Holiday Bought Forward from Previous Year" />
<perch:nl id="yearlyHolidayRemaining" type="text" label="Yearly Holiday Remaning" />
<perch:nl id="accrualDate" type="date" label="Accrual Date for Extra Holidays" />
<perch:nl id="accrualValue" type="text" label="Next Holiday Accrual Value" />
<perch:nl id="accrualedToDate" type="text" label="Accrued Days to Date" />
<perch:nl id="totalAllowanceForYear" type="text" label="Total Holiday Allowance For Current Year" />
<perch:nl id="sickLeaveRemaining" type="text" label="Sick Leave Remaining" divider-before="Sick Leave, Compassionate Leave and Volunteer Days" />
<perch:nl id="compassionateLeaveRemainig" type="text" label="Compassionate Leave Remaining" />
<perch:nl id="volunteerDaysRemaining" type="text" label="Volunteer Days Remaining" />