:root {
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
}

*{
	box-sizing: border-box;
}

body {
  background: #f2f2f2;
  color: #014040;
  line-height: 1.5;
  margin: 0;
  font-family: 'nowayregular', Georgia, serif;
}

a:not([class]) {
  color: currentColor;
}

/*
:focus {
  outline: 2px dashed;
  outline-offset: 0.25rem;
}
*/

main:focus {
  outline: none;
}


[href]:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  line-height: 1.3;
}

h1,
h2,
h3,
strong {
  font-family: 'nowaymedium';
  font-weight: 400;
}

h1 {
  font-size: var(--size-700);
}

h2 {
  font-size: var(--size-600);
}

h3 {
  font-size: var(--size-600);
}

img {
  max-width: min(55rem, 100%);
}

figcaption {
  font-size: var(--size-300);

  font-style: italic;
  margin-top: 1rem;
}

blockquote {
  padding-left: var(--size-600);
  border-left: 5px solid;
  font-style: italic;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

p,
li {
  max-width: 70ch;
}

h1 {
  max-width: 25ch;
}

h2,
h3 {
  max-width: 25ch;
}

.post {
  --flow-space: var(--size-700);

  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.post time {
  --flow-space: var(--size-400);
  display: block;
}

.post :is(h2, h3) {
  --flow-space: var(--size-900);
}

.post :is(h2, h3) + * {
  --flow-space: var(--size-400);
}

.post figure,
.post figure + * {
  --flow-space: var(--size-900);
}

@media (min-width: 45em) {
  h1 {
    font-size: var(--size-900);
  }

  h2 {
    font-size: var(--size-700);
  }

  p, ul, ol, .c-navigation ul li {
    font-size: var(--size-500);
  }

  figcaption {
    font-size: var(--size-400);
  }

  blockquote p {
    font-size: var(--size-600);
    max-width: 40ch;
  }

  .post time {
    font-size: var(--size-600);
  }
}

a{
	color:#7b8c3b;
}

a:hover{
	color:#f0b435;
}

.l-wrap{
	width:1280px;
	float:none;
	margin:0 auto;
	padding:0 2rem;
}

.l-block{
	max-width:1280px;
	margin:0 auto;
}

header{
	background:#fff;
	padding:2rem 0;
	width:100%;
	float:left;
}

header .l-wrap{
	display:grid;
	grid-template-columns: 1fr 4fr;
}

header img{
	height:140px;
	width:auto;
	displat:block;
}

.c-navigation ul{
	display: inline-block;
	list-style: none;
	float:right;
	text-align: center;
	line-height:140px;
	margin:0;
	padding:0;
}

.c-navigation ul li{
	display:inline-block;
	margin:0 2rem;
}

.c-navigation ul li a{
	color:#014040;
}

.c-navigation ul li a:hover{
	color:#f0b435;
}

.hide{
	display:none;
}

.c-navigation .c-hamburger.hide{
	position:absolute;
	top:0px;
	right:0px;
	width:200px;
	max-width:100%;
	text-align: right;
	padding:0;
}

.c-navigation .c-hamburger ul{
	line-height:4rem;
	text-align: right;
	background:#fff;
}

.c-navigation .c-hamburger ul li{
	border-bottom:1px solid #ccc;
	width:100%;
	margin:0;
	padding:0 1rem;
}

button{
	width:100%;
	border:none;
	background:none;
	color: #014040;
	border-bottom:1px solid #ccc;
	font-size:var(--size-400);
	font-family: 'nowayregular', Georgia, serif;
	line-height:4rem;
	text-align: right;
	padding-right:1rem;
}

button:focus{
	border:none;
}

.c-post-card__date{
	font-size: var(--size-400);
}

footer{
	margin:100px 0;
	padding: 0 2rem;
	width:100%;
	float:left;
}

footer p{
	font-size:var(--size-400);
}

footer .l-wrap{
	display:grid;
	grid-template-columns: 2fr 3fr;
	padding:0;
}

footer ul{
	list-style-type:none;
}

footer ul li{
	display:inline-block;
	margin-left:2rem;
	float:right;
}

footer ul li img{
	height:70px;
	width:auto;
}

footer span{
	white-space: nowrap;
}

.aside a{
	color:#fff;
}

aside{
	background: #014040;
	margin-top:200px;
	padding:0 2rem;
	z-index:1000;
	width:100%;
	clear:left;
	float:left;
}

aside .l-wrap{
	padding:2rem 0;
	display:grid;
	max-width: 1280px;
	margin: 2rem auto;
	grid-template-columns: 2fr 1fr 1fr;
	grid-column-gap: 2rem;
	float:none;
}

aside h2,
aside h3,
aside p,
aside a,
aside ul li a i{
	color: #fff;
}

aside a:hover,
aside ul li a i:hover{
	color:#f0b435;
}

aside .social{
	grid-column: 2 / 4;
}

aside .social form{
	display:grid;
	grid-template-columns: 2fr 1fr;
}

aside .social form label{
	grid-column: 1 / 3;
	color:#fff;
}

aside ul{
	padding:0;
	list-style: none;
}

aside li{
	margin-right:2rem;
	display: inline-block;
}

.l-card,
.c-post-card{
	width:100%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	background:#fff;
	border:1px solid #ccc;
	box-shadow:0px 0px 30px #ccc;
	margin:2rem 0;
}

.l-card h2,
.c-post-card h2{
	margin-top:0px;
}

.c-post-card{
	grid-template-columns: 1fr;
	padding:2rem;
}

.l-text{
	padding:10%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.margin-bottom{
	padding-bottom:100px;
}

.margin-top{
	padding-top:100px;
}

.l-card img{
	display:block;
	height:100%;
	object-fit:cover;
}

.l-contact{
	width:100%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	margin:2rem 0;
}

label{
	font-size:var(--size-500);
	display:block;
}

input,
textarea,
.c-button{
	background:#fff;
	padding:1rem;
	font-size:var(--size-500);
	color: #014040;
	font-family: 'nowayregular', Georgia, serif;
	margin:1rem 0;
	width:100%;
	border:1px solid #ccc;
	box-sizing:border-box;
}

.c-button,
input[type=submit]{
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none; 
	background:#7b8c3b;
	color:#fff;
	text-decoration: none;
	cursor: pointer;
	margin-top:1rem;
	display:inline-block;
	width:200px;
	text-align: center;
}

.c-button:hover,
input[type=submit]:hover{
	background:#f0b435;
	color:#fff;
}

.l-hexagons{
	width:100%;
	float:left;
	background:#fff;
	position: relative;
	z-index:0;
}

.l-hexagons .l-wrap{
	position: relative;
	background: #fff;
	overflow: hidden;
	float:none;
	max-width:1280px;
	margin:0 auto;
}

.l-hexagons .economic,
.l-hexagons .social,
.l-hexagons .cultural{
	
}

.l-hexagons .economic{
	background:url('../images/hexagon-yellow.svg') center center no-repeat;
	background-size:100%;
	float:left;
	width:1000px;
	height:1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:-250px;
	margin-left:-100px;
	z-index: 1000;
	position: relative;
}

.l-hexagons .economic div{
	padding:200px 240px;
}

.l-hexagons .cultural{
	background:url('../images/hexagon-green.svg') center center no-repeat;
	background-size:100%;
	float:right;
	width:1000px;
	height:1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:-500px;
	margin-right:-120px;
	z-index:500;
	position: relative;
	text-align: right;
}

.l-hexagons .cultural div{
	padding:140px 280px;
}

.l-hexagons .social{
	background:url('../images/hexagon-blue.svg') center center no-repeat;
	background-size:100%;
	float:left;
	width:1000px;
	height:1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:-450px;
	margin-left:-70px;
	margin-bottom:-200px;
}

.l-hexagons .social div{
	padding:140px 280px;
}

.l-hexagons h2{
	max-width:40ch;
}

.l-hexagons p{
	font-size:var(--size--300);
}

.l-hexagons ul{
	list-style:none;
	margin:0;
	padding:0;
}

.l-hexagons ul li{
	display:inline-block;
	margin-right:1rem;
}

.l-hexagons .cultural ul li{
	margin-left:1rem;
	margin-right:0px;
}

.l-hexagons ul li img{
	box-shadow: 0px 0px 10px #ccc;
	display: block;
}

ul.staff{
	padding:0;
	list-style:none;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	margin-bottom:100px;
}

ul.staff li{
	border-left:1px solid #ccc;
	padding-left:1rem;
}

ul.staff li em{
	font-size:var(--size-400);
}

ul.staff li span{
	font-size:var(--size-300);
	display:block;
}

ul.timeline{
	padding:0;
	list-style:none;
	float:left;
	margin-bottom:100px;
}

ul.timeline li{
	width:calc(50% + 5px);
	float:right;
	border-left:10px solid #ccc;
	position: relative;
}

ul.timeline li div{
	background:#fff;
	padding:2rem;
	border:1px solid #ccc;
	border-left:none;
	display:block;
	margin:2rem 0;
	float:left;
	width:100%;
}

ul.timeline li:nth-child(odd) div{
	border-right:none;
	border-left:1px solid #ccc;
}

ul.timeline li:nth-child(odd){
	float:left;
	border-right:10px solid #ccc;
	border-left:none;
}

ul.timeline li .blob{
	background:#f0b435;
	border-radius: 50%;
	width:48px;
	height:48px;
	margin:0;
	padding:0;
	border:none;
	position:absolute;
	top:calc(50% - 24px);
	left:-29px;
}

ul.timeline li:nth-child(odd) .blob{
	right:-29px;
	left:auto;
}

.l-grid{
	max-width:1280px;
	margin:0 auto;
}

.l-grid ul{
	list-style:none;
	margin:0;
	padding:0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}

.l-grid ul li{
	border:1px solid #ccc;
	box-shadow:0px 0px 30px #ccc;
}

.l-grid ul li img{
	display:block;
}

.bg-secondary{
	background:#7b8c3b;
}

.l-cta{
	display:grid;
	border:1px solid #ccc;
	padding:2rem;
	background:#fff;
	margin: 100px 0;
}

.l-cta h2{
	font-size:var(--size-900);
	margin-top:0;
	padding:0;
}

.l-cta p,
.l-cta a.c-button{
	margin:0;
}

.l-cta a.c-button{
	background:#f0b435;
	color:#fff;
}

.l-cta a.c-button:hover{
	background:#ccc;
	color:#fff;
}

@media screen and (max-width:1150px){
	footer .l-wrap{
		grid-template-columns: 1fr;
	}
	footer ul,
	footer ul li{
		float:left;
		margin-left:0px;
		margin-right:2rem;
		padding:0;
	}
	footer ul li{
		margin-bottom:1rem;
	}
}

@media screen and (max-width:1100px){
	.l-hexagons .cultural{
		margin-top:-380px;
	}
}

@media screen and (max-width:900px){
	header img{
	  height:90px;
	  max-width:100%;
	  object-fit:contain;
	  object-position:top left;
    }
    header .l-wrap{
	    grid-template-columns: 1fr 1fr;
    }
	aside .l-wrap{
		grid-template-columns: 1fr;
	}
	aside .social{
		grid-column: 1;
	}
	.c-navigation ul{
		display:none;
	}
	.c-hamburger.hide{
		display:block;
		height: auto;
	}
	.c-hamburger.hide ul{
		display:none;
	}
	.c-hamburger.hide ul.show{
		display:block;
	}
	.c-hamburger button{
		border-bottom:none;
		height:calc(90px + 4rem);
		font-size:var(--size-500);
		max-width:100%;
	}
}

@media screen and (max-width:850px){
	.l-hexagons .social{
		margin-top:-400px;
	}
}

@media screen and (max-width:768px){
    .l-contact{
	    grid-template-columns: 1fr;
    }
    .l-hexagons .economic,
    .l-hexagons .social,
    .l-hexagons .cultural{
	    margin:0;
	    width:100%;
	    height:auto;
    }
    .l-hexagons .economic{
	    background-size:120px;
	    background-position: top right;
    }
    .l-hexagons .cultural{
	    background-size:120px;
	    background-position: bottom left;
    }
    .l-hexagons .social{
	    background-size:120px;
	    background-position: bottom right;
	    margin-bottom:100px;
    }
    .l-hexagons .economic div,
    .l-hexagons .social div,
    .l-hexagons .cultural div{
		width:100%;  
		padding:0;  
	}
	ul.staff{
		grid-template-columns: 1fr 1fr;
	}
	ul.timeline li{
		float:left;
		width:calc(100% - 5px);
		border-left:10px solid #ccc;
		border-right: none;
	}
	ul.timeline li:nth-child(odd) div{
		border-right:1px solid #ccc;
		border-left:none;
	}
	ul.timeline li:nth-child(odd){
		float:left;
		border-left:10px solid #ccc;
		border-right:none;
	}
	ul.timeline li:nth-child(odd) .blob{
		left:-29px;
		right:auto;
	}
	.l-cta h2{
		font-size:var(--size-700);
	}
}

@media screen and (max-width:719px){
    .c-button{
	    font-size:var(--size-400);
	    max-width:160px;
    }
}

@media screen and (max-width:640px){
	.l-card{
		grid-template-columns: 1fr;
	}
	.l-card img{
		height:auto;
		aspect-ratio: 1 / 1;
	}
	.l-cta h2{
		font-size:var(--size-500);
	}
}

@media screen and (max-width:480px){
	aside .social form{
		grid-template-columns: 1fr;
	}
	aside .social form label{
		grid-column: 1;
	}
	.l-hexagons ul li img{
		height:60px;
	}
	.l-hexagons .economic,
    .l-hexagons .social,
    .l-hexagons .cultural{
	    background-size:80px;
    }
    ul.staff{
		grid-template-columns: 1fr;
	}
}