/* Color Overrides */

:root {
    --secondary-color: #f3f3f3;
    --primary-color: #252525;
    --theme: #3E6F5E;
    --temp: rgb(206, 82, 0);
}

/* Component Overrides */

.c-navbar__sub-link, 
.c-hamburger__link, 
.c-hamburger__element-button, 
.c-navbar__button,
.c-navbar__link,
.c-hamburger__sub-link {
    /* background-color: white;
    color: var(--primary-color); */
    height: 100%;
}

.c-navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0.3rem 0;
    align-items: center;
}

.c-navigation {
    justify-content: space-between;
    margin: 0.3rem 0;
    height: auto;
}

.c-banner {
    width: 100%;
    position: relative;
}

.c-banner__logo {
    margin: 0;
}

.c-banner__logo.hide {
    opacity: 0;
    pointer-events: none;
}

.c-banner__logo-img {
    max-width: 140px;
    z-index: 15;
}

@media screen and (max-width: 522px) {
    .c-banner__logo-img {
        max-width: 100px;
    }
}

.c-navbar__element {
    border-right: 1px solid white;
    height: auto;
}

.c-navbar__link {
    padding: 0.5rem 1rem;
    height: auto;
}

.c-navbar__element:first-child {
    border-left: 1px solid white;
}

.c-navbar__link:hover {
    color: var(--theme);
    background-color: white;
}

.c-hamburger {
    margin-left: auto;
}

.c-hamburger__button {
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0.5rem 1rem;
    height: auto;
    color: white;
}

.c-hamburger__button:hover {
    background-color: white;
    color: var(--theme);
}

.c-hamburger__icon {
    margin: -10px 0;
    margin-left: 0.2rem;
}

.c-hero__bg-mask {
    background-color: var(--theme);
}

.c-button {
    background-color: var(--theme);
    border: 1px solid var(--theme)
}

.c-button:hover {
    background-color: white;
    color: var(--theme)
}


#map {
    height: 100%;
    width: 100%;
}

h1, h2 {
    font-weight: 500;
}

.c-post-card__title {
    font-weight: 700;
}


.l-flow ul{
	list-style:disc;
	margin-left:40px;
}