<perch:nl type="text" label="MSDS Product Name" id="name" />

<perch:nl type="text" label="1.1 c) Brand:" id="1_1_c" />
<perch:nl type="text" label="1.1 d) Index No.:" id="1_1_d" />
<perch:nl type="text" label="1.1 e) REACH No.:" id="1_1_e" />
<perch:nl type="text" label="1.1 f) CAS No.:" id="1_1_f" />
<perch:nl type="checkbox" label="Poisonous" id="poisonous" />
<perch:nl type="text" label="9.1 m) Relative density" id="9_1_m" />
<perch:nl type="text" label="9.1 u) Ethanol content" id="9_1_u" />