<perch:nl type="text" label="1.1 c) Brand:" id="1_1_c" />
<perch:nl type="text" label="1.1 d) Index No.:" id="1_1_d" />
<perch:nl type="text" label="1.1 e) REACH No.:" id="1_1_e" />
<perch:nl type="text" label="1.1 f) CAS No.:" id="1_1_f" />
<perch:nl type="select" label="1.2 Relevant identified uses of the substance or mixture and uses advised against:" id="1_2" options=",Herbal medicine product" divider-before="1. Indentification of the substance/mixture and of the company" />
<perch:nl type="text" label="1.2 Additional information:" id="1_2b" />
<perch:nl type="text" label="1.3 Details of supplier of datasheet:" id="1_3" />
<perch:nl type="text" label="1.4 Emergency telephone number:" id="1_4" />

<perch:nl type="text" label="2.1 Classification of the substance or mixture:" id="2_1" divider-before="2. Hazards identification" />
<perch:nl type="checkbox" label="Flammable" id="flammable" />
<perch:nl type="checkbox" label="Poisonous" id="poisonous" />
<perch:nl type="checkbox" label="Causes eye irritation" id="eye_irritation" />
<perch:nl type="checkbox" label="Flammable liquid" id="flammable_liquid" />
<perch:nl type="text" label="2.3 Precautionary statements" id="2_3" />

<perch:nl type="text" label="3.1 Substanc synonyms" id="3_1" divider-before="3. Composition / information on ingredients" />
<perch:nl type="text" label="3.2 Chemical description" id="3_2" />

<perch:nl type="text" label="4.1 General information" id="4_1" divider-before="4. First aid measures" />
<perch:nl type="text" label="4.2 After inhilation" id="4_2" />
<perch:nl type="text" label="4.3 After eye contact" id="4_3" />
<perch:nl type="text" label="4.4 In case of skin contact" id="4_4" />
<perch:nl type="text" label="4.5 In case of ingestion" id="4_5" />
<perch:nl type="text" label="4.6 Most important symptoms and effects, both acute and delayed" id="4_6" />
<perch:nl type="text" label="4.7 Indivcation of any immediate medical attention and special treatment needed" id="4_7" />
<perch:nl type="text" label="4.8 Self-protection of the first aider" id="4_8" />
<perch:nl type="text" label="4.9 Information to physician" id="4_9" />

<perch:nl type="text" label="5.1 Extinguishing media" id="5_1" divider-before="5. Firefighting measures" />
<perch:nl type="text" label="5.2 Extinguishing media which must not be used for safety reasons" id="5_2" />
<perch:nl type="text" label="5.3 Special hazards arising from the substance or mixture" id="5_3" />
<perch:nl type="text" label="5.4 Advice for firefighters" id="5_4" />
<perch:nl type="text" label="5.5 Additional information" id="5_5" />

<perch:nl type="text" label="6.1 Personal precautions, protective equipment and emergency procedures" id="6_1" divider-before="6. Accidental release measures" />
<perch:nl type="text" label="6.2 Envionmental procautions" id="6_2" />
<perch:nl type="text" label="6.3 Methods and materials for containment and cleaning up" id="6_3" />
<perch:nl type="text" label="6.4 Additional information" id="6_4" />

<perch:nl type="text" label="7.1 Precautions for safe handling" id="7_1" divider-before="7. Handling and storage" />
<perch:nl type="text" label="7.2 Safe storage temperature" id="7_2" />
<perch:nl type="text" label="7.3 Storage class" id="7_3" />
<perch:nl type="text" label="7.4 Storage area" id="7_4" />
<perch:nl type="text" label="7.5 Specific end uses" id="7_5" />

<perch:nl type="text" label="8.1 Control parameters" id="8_1" divider-before="8. Exposure controls / personal protection" />
<perch:repeater id="exposure_controls" label="8.2 Exposure controls">
	<perch:nl type="text" label="Exposure control" id="8_2" />
</perch:repeater>

<perch:nl type="text" label="9.1 a) Appearnce" id="9_1_a" divider-before="9. Physical and chemical properties" />
<perch:nl type="text" label="9.1 b) Odour" id="9_1_b" />
<perch:nl type="text" label="9.1 c) Odour threshold" id="9_1_c" />
<perch:nl type="text" label="9.1 d) pH level" id="9_1_d" />
<perch:nl type="text" label="9.1 e) Melting point / freezing point" id="9_1_e" />
<perch:nl type="text" label="9.1 f) Initial boiling point" id="9_1_f" />
<perch:nl type="text" label="9.1 g) Flash point" id="9_1_g" />
<perch:nl type="text" label="9.1 h) Evaporation rate" id="9_1_h" />
<perch:nl type="text" label="9.1 i) Flammability" id="9_1_i" />
<perch:nl type="text" label="9.1 j) Upper / lower flammability limits" id="9_1_j" />
<perch:nl type="text" label="9.1 k) Vapour pressure" id="9_1_k" />
<perch:nl type="text" label="9.1 l) Vapour density" id="9_1_j" />
<perch:nl type="text" label="9.1 m) Relative density" id="9_1_m" />
<perch:nl type="text" label="9.1 n) Solubility" id="9_1_n" />
<perch:nl type="text" label="9.1 o) Partition coefficient" id="9_1_o" />
<perch:nl type="text" label="9.1 p) Auto-ignition temperature" id="9_1_p" />
<perch:nl type="text" label="9.1 q) Decomposition temperature" id="9_1_q" />
<perch:nl type="text" label="9.1 r) Viscosity" id="9_1_r" />
<perch:nl type="text" label="9.1 s) Explosive properties" id="9_1_s" />
<perch:nl type="text" label="9.1 t) Oxidising properties" id="9_1_t" />
<perch:nl type="text" label="9.1 u) Ethanol content" id="9_1_u" />
<perch:nl type="text" label="9.1 v) Bulk density" id="9_1_v" />
<perch:nl type="text" label="9.1 w) Refraction index" id="9_1_w" />
<perch:nl type="text" label="9.1 x) Dissociation constant" id="9_1_x" />
<perch:nl type="text" label="9.1 y) Surfact tension" id="9_1_y" />
<perch:nl type="text" label="9.1 z) Henry constant" id="9_1_z" />

<perch:nl type="text" label="10.1 Reactivity" id="10_1" divider-before="10. Stability and reactivity" />
<perch:nl type="text" label="10.2 Chemical stability" id="10_2" />
<perch:nl type="text" label="10.3 Possibility of hazardous reactions" id="10_3" />
<perch:nl type="text" label="10.4 Conditions to avoid" id="10_4" />
<perch:nl type="text" label="10.5 Incompatible materials" id="10_5" />
<perch:nl type="text" label="10.6 Hazardous decomposition products" id="10_6" />
<perch:nl type="text" label="10.7 Additional information" id="10_7" />

<perch:repeater id="accute_effects" label="11.1 Accute effects" divider-before="11. Toxicological effects">
	<perch:nl type="text" label="Acute effect" id="11_1" />
</perch:repeater>
<perch:repeater id="irritant_effects" label="11.2 Irritant and corrosive effects">
	<perch:nl type="text" label="Irritant effect" id="11_2" />
</perch:repeater>
<perch:nl type="text" label="11.3 Respiratory or skin sensitisation" id="11_3" />
<perch:nl type="text" label="11.4 STOT-single exposure" id="11_4" />
<perch:nl type="text" label="11.5 STOT-repeated exposure" id="11_5" />
<perch:nl type="text" label="11.6.1 Carcinogenicity" id="11_6_1" />
<perch:nl type="text" label="11.6.2 Germ cell mutegenicity" id="11_6_2" />
<perch:nl type="text" label="11.6.3 Reproductive toxicity" id="11_6_3" />
<perch:nl type="text" label="11.6.4 Aspiration hazard" id="11_6_4" />
<perch:nl type="text" label="11.6.5 Other adverse effects" id="11_6_5" />
<perch:nl type="text" label="11.6.6 Additional information" id="11_6_6" />

<perch:nl type="text" label="12.1 a) Acute (short-term) fish toxicity" id="12_1_a" divider-before="12. Ecological information" />
<perch:nl type="text" label="12.1 b) Chronic (long-term) fish toxicity" id="12_1_b" />
<perch:nl type="text" label="12.1 c) Acute (short-term) daphnia toxicity" id="12_1_c" />
<perch:nl type="text" label="12.1 d) Chronic (long-term) daphnia toxicity" id="12_1_d" />
<perch:nl type="text" label="12.1 e) Acute (short-term) algae toxicity" id="12_1_e" />
<perch:nl type="text" label="12.1 f) Chronic (long-term) algae toxicity" id="12_1_f" />
<perch:nl type="text" label="12.2 Persistence and degradability" id="12_2" />
<perch:nl type="text" label="12.3 Bioaccumulative potential" id="12_3" />
<perch:nl type="text" label="12.4 Mobility in soil" id="12_4" />
<perch:nl type="text" label="12.5 Results of PBT/vPVB assessment" id="12_5" />
<perch:nl type="text" label="12.6 Other adverse effects" id="12_6" />

<perch:nl type="text" label="13.1 Dispose according to local legislation" id="13_1" divider-before="13. Disposal considerations" />
<perch:nl type="text" label="13.2 Waste code product" id="13_2" />
<perch:nl type="text" label="13.3 Appropriate disposal" id="13_3" />
<perch:nl type="text" label="13.4 Additional information" id="13_4" />

<perch:nl type="text" label="14.1 a) UN number" id="14_1_a" divider-before="Transport information - Land" />
<perch:nl type="text" label="14.1 b) UN proper shipping name" id="14_1_b" />
<perch:nl type="text" label="14.1 c) Classification" id="14_1_c" />
<perch:nl type="text" label="14.1 d) Transport hazard class(es)" id="14_1_d" />
<perch:nl type="text" label="14.1 e) Packaging group" id="14_1_e" />
<perch:nl type="text" label="14.1 f) Environmental hazards" id="14_1_f" />
<perch:nl type="text" label="14.1 g) Special precautions for user" id="14_1_g" />

<perch:nl type="text" label="14.2 a) UN number" id="14_2_a" divider-before="Transport information - Sea" />
<perch:nl type="text" label="14.2 b) UN proper shipping name" id="14_2_b" />
<perch:nl type="text" label="14.2 c) Classification" id="14_2_c" />
<perch:nl type="text" label="14.2 d) Transport hazard class(es)" id="14_2_d" />
<perch:nl type="text" label="14.2 e) Packaging group" id="14_2_e" />
<perch:nl type="text" label="14.2 f) Environmental hazards" id="14_2_f" />
<perch:nl type="text" label="14.2 g) Marine pollutant" id="14_2_g" />
<perch:nl type="text" label="14.2 h) Special precautions for user" id="14_2_h" />

<perch:nl type="text" label="14.3 a) UN number" id="14_3_a" divider-before="Transport information - Air" />
<perch:nl type="text" label="14.3 b) UN proper shipping name" id="14_3_b" />
<perch:nl type="text" label="14.3 c) Classification" id="14_3_c" />
<perch:nl type="text" label="14.3 d) Transport hazard class(es)" id="14_3_d" />
<perch:nl type="text" label="14.3 e) Packaging group" id="14_3_e" />
<perch:nl type="text" label="14.3 f) Special precautions for user" id="14_3_f" />

<perch:repeater id="regulatory_information" label="15.1 General rules" divider-before="15. Regulatory information">
	<perch:nl type="text" label="Rule" id="15_1" />
</perch:repeater>
<perch:nl type="text" label="15.2 Chemical safety assessment" id="15_2" />

<perch:nl type="date" label="Date Revision" id="date" divider-before="Document details" />
<perch:nl type="text" label="Version Number" id="version" />